/* HELPERS */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.contenedor {
    max-width: 1080px;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex ($direction, $justify, $align, $gap){ 
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 200px;
    padding: 2rem;
    padding: 0 2rem 0 2rem;
    grid-gap: 20px;
    max-width: 1080px;
    align-items: center;
    align-self: center;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.zonas-div {
    text-align: center;
    padding: 2rem 0 2rem 0 !important;
    margin: 0 auto;
 }

    .zonas-text {
    font-family: $font-primary !important;
    font-size: 3rem !important;

    }
 

/*Media Querys*/

@media (max-width: 768px) {
    .form__index {

        display: grid !important;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        width: 100% !important;
        
    }
    .form-group {
        padding: 0 !important;
        align-items: center;
        justify-content: center;
        width: 100% !important;
    }
    .form-control {
        width: 100% !important;
    }
 }

 @media (max-width: 480px) {
    .form__index {
        height: 40vh !important;
        padding: 1rem 5px 1rem 5px;
      display: flex !important;
      flex-direction: column;
      width: 100% !important;
      }
  .form-group {
      padding: 0 !important;
      align-items: center;
      justify-content: center;
      width: 100% !important;
  }
  .form-control {
      width: 100% !important;
     } 

}

 
@media (max-width: 910px) {
    .zonas__imagenes {
        display: flex;
        flex-direction: column;
        .img-zonas {
            height: 250px;

        }
    }
     
}

@media (max-width: 670px) {

    .div__nosotros {
        display: flex !important;
        flex-direction: column !important ;
        margin: 0 auto;
    }

    .navbar {
        height: 20vh !important;
        display: grid !important;
        grid-template-rows: auto auto !important;
        align-items: center !important;
        align-self: center !important;
        justify-content: center !important;
    }
    
    .navbar__logo {
        display: flex;
     justify-content: center;
    }

    footer {
        height: 40vh !important;
    }
    
    .footer__div {
       display: flex !important;
       justify-content: center !important;
       flex-direction: column !important;
       margin: 0 auto !important;
       align-items: center !important;
   }

   .footer__box1 {
       padding-bottom: 20px;
   }

}



@media (max-width: 580px) {
    .div__nosotros {
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
        margin: 0 auto !important;
        .nosotros__box {
            margin: 0 auto;
            justify-content: center;
            max-width: 400px !important;
        }
    }
    .nosotros__img {
        width: 350px;
    }

}

@media (max-width: 420px) {
    .navbar__menu {
        gap: 2px !important;
        margin: 0 auto !important;
    }
    .navbar__item {
        gap: 2px !important;
        margin: 0 auto !important;

    }

    .form__index {
        padding-top: 20px;

    }
}





 
