/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


/* Globals */

/* Globals */

html {
    font-size: 62.5%;
    font-family: $font-primary ;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

}

ul {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
    color: $secondarycolor !important;
    display: inline-block ;
}
